*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  margin-top: 100px;
}

.btn {
  font-size: 30px;
  color: white;
  background-color: rgb(179, 75, 75);
  padding: 30px 40px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: rgb(210, 34, 34);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: rgb(251, 249, 247);
  border-color: rgb(244, 242, 239);
}

.instruction {
  font-size: 25px;
  padding-top: 20px;
}

p {
  font-size: 20px;
  width: 400px;
}